{% extends 'kickerapp/base.html' %}
{% load static %}
{% block title %}Neues Spiel starten{% endblock %}

{% block body %}
<h1 class="display-1">Lobby</h1>
<div class="card mx-auto mt-3" style="max-width: 500px;" x-data="addNewPlayers()">
    <div class="card-body">
        <h2 class="card-title">Neue Spieler:innen erstellen</h2>
        <div class="mb-3">
            <form>
                <div class="form-floating mb-3">
                    <input type="text" id="input-new-player" class="form-control" x-model="newPlayerName"
                        placeholder="Namen des neuen Teams eingeben">
                    <label for="input-new-player" class="form-label">Name des/der neuen Spieler:in</label>
                </div>
                <button class="btn btn-secondary" @click.prevent="addNewPlayerToArray()"
                    x-bind:disabled="newPlayerName==''">Spieler:in
                    hinzufügen</button>
            </form>
        </div>
        <div class="mb-3">
            <template x-if="newPlayers.length == 0">
                <div class="alert alert-warning mb-0">Noch keine neuen Spieler:innen in der Warteliste</div>
            </template>
            <ul class="list-group list-group-flush overflow-list">
                <template x-for="(player, index) in newPlayers">
                    <li class="list-group-item container">
                        <div class="row justify-content-between">
                            <div class="col" x-text="player.name" :key="player.name"></div>

                            <button class="col-4 btn btn-outline-danger btn-sm"
                                @click.prevent="removePlayerFromList(index)">Löschen</button>

                        </div>
                    </li>
                </template>
            </ul>
        </div>
        <button class="btn btn-primary mb-3" @click.prevent="sendNewPlayersToServer()" :disabled="newPlayers.length == 0">Neue Spieler:innen übernehmen</button>
        <div :class="alert.type" class="alert" role="alert" x-show="alert.show" x-text="alert.msg"></div>
    </div>
</div>

<div class="card mx-auto mt-3" style="max-width: 500px;" x-data="addNewTeams()">
    <div class="card-body">
        <h2 class="card-title">Neue Teams erstellen</h2>
        <div class="mb-3">
            <form>
                <div class="form-floating mb-3">
                    <input id="input-new-team" type="text" class="form-control" @keyup.enter="addNewTeamToArray()"
 x-model="newTeamName"
                        placeholder="Namen des neuen Teams eingeben">
                    <label for="input-new-team" class="form-label">Name des neuen Teams</label>
                </div>
                <div class="accordion mb-3" id="accordionAddPlayers">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAddPlayers" aria-expanded="true" aria-controls="collapseAddPlayers">
        Player hinzufügen
                          </button>
                        </h2>
                        <div id="collapseAddPlayers" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="form-floating mb-3">
                                <input id="input-search-player" type="text" class="form-control" placeholder="Spieler:in hinzufügen" x-model="playerSearch" @keyup.enter="handleEnterAddPlayer()">
                                <label for="input-search-player" class="form-label">Name des/der Spieler:in</label>
                            </div>
                            <div class="mb-3">
                                <ul class="list-group list-group-flush overflow-list">
                                    <template x-for="player in availablePlayers">
                                        <li class="list-group-item container">
                                            <div class="row justify-content-between">
                                                <div class="col" x-text="player" :key="player"></div>
                                                <button type="button" class="col btn btn-outline-secondary btn-sm"
                                                    @click.prevent="addPlayerToTeam(player)"><i class="bi bi-person-plus-fill"></i></button>
                                                
                                            </div>
                                        </li>
                                    </template>
                                </ul>
                    
                        </div>

                        <div>
                    <template x-for="(player, index) in newTeamPlayers">
                        <button type="button" class="btn btn-outline-danger" @click="removePlayerFromTeam(index)">   
                            <span x-text="player"></span>
                            <i class="bi bi-person-x-fill"></i>
                        </button>
                    </template></div>
                </div>
                            </div>


                </div></div>
                <div class="mb-3"> 
                    <button type="button" class="btn btn-secondary" @click.prevent="addNewTeamToArray()"
                    x-bind:disabled="newTeamName==''">Team
            hinzufügen</button></div>
            </form>
        </div>
        <div class="mb-3">
            <template x-if="newTeams.length == 0">
                <div class="alert alert-warning mb-0">Noch keine neuen Teams in der Warteliste</div>
            </template>
            <ul class="list-group list-group-flush overflow-list">
                <template x-for="(team, index) in newTeams">
                    <li class="list-group-item container">
                        <div class="row justify-content-between">
                            <div class="col" x-text="team.name" :key="team.name"></div>
                            <div class="col row justify-content-end">
                            <button class="col btn btn-outline-primary btn-sm" type="button" :disabled="team.players.length == 0" data-bs-toggle="collapse" :data-bs-target="'#team'+index" aria-expanded="false" aria-controls="collapsePlayers">
                            <span x-text="team.players.length + 'x'"></span>
                            <i class="bi bi-person-lines-fill"></i>
                            </button> 
                            <button class=" col btn btn-outline-primary btn-sm" type="button" @click="editTeam(index)">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="col btn btn-outline-danger btn-sm"
                                @click.prevent="removeTeamFromList(index)">
                            <i class="bi bi-trash3"></i>
                            </button></div>
                        </div>

<div class="collapse" :id="'team'+index">
    <ul class="list-group">
    <template x-for="player in team.players">
        <li class="list-group-item" x-text="player"></li>
    </template> 
    </ul>
</div>
                    </li>
                </template>
            </ul>
        </div>
        <button class="btn btn-primary mb-3" @click.prevent="sendNewTeamsToServer()" :disabled="newTeams.length == 0">Neue Teams übernehmen</button>
        <div :class="alert.type" class="alert" role="alert" x-show="alert.show" x-text="alert.msg"></div>
    </div>
</div>
<div class="card mx-auto mt-3" style="max-width: 500px;" x-data="addNewLeaderboard()">
    <div class="card-body">
        <h2 class="card-title">Neues Leaderboard erstellen</h2>
        <div class="mb-3">
            <form>
                <div class="form-floating mb-3">
                    <input id="l-name" type="text" class="form-control" x-model="name"
                        placeholder="Namen des neuen Leaderboards eingeben">
                    <label for="l-name" class="form-label">Name des neuen Leaderboard</label>
                </div>
                <div class="mb-3">
                    <label for="l-type" class="form-label">Modus auswählen</label>
                    <select name="select-type" id="l-type" class="form-select" x-model="type">
                        <option value="open">Offen</option>
                        <option value="closed">Geschlossen</option>
                        <option value="tournament">Tuniermodus</option>
                    </select>
                </div>
                <div class="form-floating mb-3">
                    <input id="l-info" type="text" class="form-control" x-model="info"
                        placeholder="Namen des neuen Leaderboards eingeben">
                    <label for="l-info" class="form-label">Notizen</label>
                </div>
            </form>
        </div>
        <button class="btn btn-primary" @click.prevent="sendToServer()" x-bind:disabled="name==''">Leaderboard
            erstellen</button>
        <div :class="alert.type" class="alert" role="alert" x-show="alert.show" x-text="alert.msg"></div>
    </div>
</div>
<div id="game-config" class="card mx-auto mt-3" style="max-width: 500px;" x-data="teamNames()">
    <div class="card-body">
        <h2 class="card-title">Spiel erstellen</h2>
        <div :class="alert.type" class="alert mb-3" role="alert" x-show="alert.show" x-text="alert.msg"></div>
        <div id="team-select">
            <form>
                <div class="mb-3">
                    <label for="selectTeamA" class="form-label">Team A auswählen</label>
                    <select id="selectTeamA" class="form-select" x-model="selectedA">
                        <template x-for="team in $store.teams">
                            <template x-if="team.name != selectedB">
                                <option :value="team.name" x-text="team.name"></option>
                            </template>
                        </template>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="selectTeamB" class="form-label">Team B auswählen</label>
                    <select id="selectTeamB" class="form-select" x-model="selectedB">
                        <template x-for="team in $store.teams">
                            <template x-if="team.name != selectedA">
                                <option :value="team.name" x-text="team.name"></option>
                            </template>
                        </template>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="selectLb" class="form-label">Leaderboard auswählen</label>
                    <select id="selectLb" class="form-select" x-model="selectedLb">
                        <template x-for="lb in $store.leaderboards">
                            <option :value="lb.name" x-text="lb.name"></option>
                        </template>
                    </select>
                </div>
                <button class="btn btn-primary" @click.prevent="startGame()" :disabled="!isValid">Spiel
                    starten</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptsource %}
{% static 'js/start_game.js' %}
{% endblock %}
