h1 {
  text-align: center;
}
.points {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  margin: 0 auto;
  font-size: 4em;
  height: 1em;
}
.form-wrapper {
  padding: 1.5rem;
  max-width: 500px;
  margin: 2em auto 0 auto;
  border: solid #dee2e6;
  border-width: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.overflow-list{
  max-height: 20vh;
  overflow-y: auto;
}
.form-field {
  padding: 1em 0;
}

.score {
    font-size: 2em;
}

#poll-bar{
    position: relative;
    background: lightgray;
    width: 100%;
    height: 2em;
    border-radius: 1em;
}
.vote-bar{
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 1em;
    transition: width 1s;
}

#yes-bar{
    left: 0px;
    background: blue;
}

#no-bar{
    right: 0px;
    background: red;
}

#mid-bar{
    position:absolute;
    left: 50%;
    width: 1%;
    height: 100%;
    z-index: 2;
    transform: translate(-50%, 0);
    background: black;
    opacity: 0.5;
}
